.footer {
  height: 100px;
  background-color: rgba(32, 28, 28, 0.849);
  display: flex;
  position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
  
}

  .fa
  {
    height: 30px;
    width: 30px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    background-color: #3B5998;
    margin: 5px 2px;
    border: 1px solid #3B5998;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sn
  {
    height: 30px;
    width: 30px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    background-color: #fffc00;;
    margin: 5px 2px;
    border: 1px solid #3B5998;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .in
  {
    height: 30px;
    width: 30px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    background-color: #125688;
    margin: 5px 2px;
    border: 1px solid #3B5998;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ln
  {
    height: 30px;
    width: 30px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    background-color: #007bb5;
    margin: 5px 2px;
  
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pn
  {
    height: 30px;
    width: 30px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    background-color: #cb2027;
    margin: 5px 2px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .copy
  {
    color:gainsboro;
    font-size: 13px;
    margin-left: 1070px;
    margin-top: 70px;

  }