.flex {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.services {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.services .service-header {
  color: #35A29F;
  font-size: 40px;
}